#wapper{
    height: 90vh;
    width: 100vw;
    border: 2px solid green;
    background-color: palevioletred;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
#wapper label{
    /* background-color: pink; */
   
    font-size: 2rem;
    display: block;
    align-items: center;
    justify-content: center;
    display: flex;
}
#wapper input{
    background-color: #f1f1f1;
    height: 30px;
    width: 200px;
}
#wapper button{
    background-color: blue;
    height: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 20px;
}
img {
    height: auto;
    width: 200px;
}